#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.photo-grid {
    width: 100%;
    display: flex;
}

.photo-grid img {
    width: 100%;
}

.photo-col {
    flex: 1;
    margin: 2px;
}
