#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

.project img {
    width: 70%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    padding: 10px 0px;
    text-align: center;
