#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

#contact img{
    width: 50px;
    margin: 5px;

.project img {
    width: 33%;
    border-radius: 8px;
}

.project {
    padding: 10px 0px;

#avatar {
    width: 200px;
    margin: 5px;
    border-radius: 100%;
}